workflows/2025/11/XH6koPTsp0VOoM0O.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Completed Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failed Flows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Failed Flows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-25T19:35:58.649Z",
  "id": "XH6koPTsp0VOoM0O",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup to Github",
  "nodes": [
    {
      "parameters": {},
      "id": "f0933cc7-d424-4277-ab64-02f39915bab5",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        -720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "61c1c8f6-e365-4a75-90b7-bcccb957dd1f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -336
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ade6d30f-38c3-4c88-8261-d10f3ce7e069",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        32,
        48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "780ed82a-d01e-47b3-a521-e6b84979ada7",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        848,
        -608
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "qOpaqObruCCMXCRV",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "fc3fdc5f-f40b-4b59-bc9b-ff85f981cf46",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1696,
        -128
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "c24c86b7-819c-418b-a3dc-9c1a9054e2a7",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        656,
        -256
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7db87ef2-6211-4607-9495-7ccc0612e8f9",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        416,
        -240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "9489eb58-1c37-4577-9d9e-4b156f62f664",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        416,
        32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "ba848545-9de6-4620-8ab0-986baa7a4c70",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        608,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "2862f06c-f888-4e57-9c92-7ff3d13aa16f",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        1008,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "35d8e1f4-68d1-4828-b876-d169c3554cfa",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1232,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d86ba8d3-b1c2-4ebb-95c9-4ad0c25d38b2",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1232,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "32ee9884-76f4-46d7-838b-0e58a9d111e3",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1232,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').first().json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "9a41352e-028b-48b0-b23d-987e20b0189d",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1456,
        224
      ],
      "typeVersion": 1,
      "webhookId": "8b6bcfbd-55c9-4682-ac99-d49d86a3e338",
      "credentials": {
        "githubApi": {
          "id": "C4Omt0vX1OIeG4eE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $('Config').item.json.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "10ab5906-475f-418f-9654-69962db7d628",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1456,
        32
      ],
      "typeVersion": 1,
      "webhookId": "edde5fe0-b6c5-4a11-a6c3-8c0c5ecc32ba",
      "credentials": {
        "githubApi": {
          "id": "C4Omt0vX1OIeG4eE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7855f4b2-566c-4760-b19c-4026c1ceb88b",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1056,
        -608
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "2d6e0b59-148b-4354-a042-4e0d62bc0fba",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        448,
        -512
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a938555d-2763-465e-816d-39308507714c",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        32
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "936c639f-cd51-4e68-8640-930028d215d6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -32,
        -800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "d93ba4b4-c1fd-48b9-a7f6-4bf810ff2a70",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        416,
        -800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "1f9e6089-847b-46b8-bf7d-0627a0e72bdf",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1280,
        -592
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repo_owner }}",
          "mode": ""
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repo_name }}",
          "mode": ""
        },
        "filePath": "={{ $json.repo_path }}\n{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "dcd513de-3a97-409e-b7e4-54db74ad1e5e",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        208,
        -240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "0d7200c6-d27c-43fb-b2b6-caa43c999e38",
      "credentials": {
        "githubApi": {
          "id": "C4Omt0vX1OIeG4eE",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "=Mezo-555"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "=n8n-backups"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "=workflows/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "baef7ff6-4672-4162-a5ca-38d0831d21e8",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        208,
        48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "moatazahmedsamir135@gmail.com",
        "subject": "Backup to GitHub failed",
        "emailType": "text",
        "message": "=:x: Failed to backup {{ $('Loop Over Items').item.json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        -576
      ],
      "id": "ef3bb821-9154-4369-8c75-e984e3b77e1c",
      "name": "Failed Flows",
      "webhookId": "ae9a623c-4d4a-4fe8-857b-f55ffd62a0a8",
      "credentials": {
        "gmailOAuth2": {
          "id": "0naCbfmZQrJH2in7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "moatazahmedsamir135@gmail.com",
        "subject": "Backup to Github completed",
        "emailType": "text",
        "message": "=✅ Backup has completed - {{ $('n8n').all().length }} workflows have been processed.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -752
      ],
      "id": "3d7c805c-5982-481a-9700-c80ca5ee0070",
      "name": "Completed Notification",
      "webhookId": "ae9a623c-4d4a-4fe8-857b-f55ffd62a0a8",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "0naCbfmZQrJH2in7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Mezo-555",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-25T19:35:58.677Z",
      "createdAt": "2025-11-25T19:35:58.677Z",
      "role": "workflow:owner",
      "workflowId": "XH6koPTsp0VOoM0O",
      "projectId": "TXusVfb2hY9oL24m"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-25T21:22:33.000Z",
  "versionId": "c7458fb0-c348-43f8-80b5-ab1a4b30f9a7"
}