workflows/2025/11/yE6pU0wnTweIIpnU.json
{
  "active": false,
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-18T18:24:41.993Z",
  "id": "yE6pU0wnTweIIpnU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My first workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": []
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -48
      ],
      "id": "9dfc4741-262e-4c0d-9352-f7d77cd73c2c",
      "name": "WhatsApp Trigger",
      "webhookId": "2fa3d788-b284-4977-a684-fe64a38c3f9c",
      "retryOnFail": false,
      "maxTries": 5,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "cLzelZyqJyCJeg1w",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "moatazahmedsamir135@gmail.com",
        "subject": "=Test",
        "emailType": "text",
        "message": "={{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} : {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        400,
        -48
      ],
      "id": "ca209de6-155d-46e7-8a4a-0ce596051535",
      "name": "Send a message",
      "webhookId": "e6e2110a-04a4-436a-b7c0-c04ea34ccd49",
      "credentials": {
        "gmailOAuth2": {
          "id": "0naCbfmZQrJH2in7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.contacts[0].profile.name }}{{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant that tries to convey the meaning of the message being sent in a maximum of 3 line and minimum of 1. you can add more info of your own."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        96,
        -48
      ],
      "id": "ef9b3ffe-c36a-4146-820b-bb82df4c4cb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        144
      ],
      "id": "6464d912-7e6f-48b3-9c0e-0b592df7a48e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RHvwbyYLj6xD250i",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "912881698567455",
        "recipientPhoneNumber": "201008548242",
        "textBody": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        608,
        -48
      ],
      "id": "399ec45e-d9d8-427d-91f2-0da2072103c2",
      "name": "Send message",
      "webhookId": "d0662d41-62c1-4796-bc25-d2366bab98c2",
      "credentials": {
        "whatsAppApi": {
          "id": "xBhT2ho0PEfSajpf",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Mezo-555",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-18T18:24:42.007Z",
      "createdAt": "2025-11-18T18:24:42.007Z",
      "role": "workflow:owner",
      "workflowId": "yE6pU0wnTweIIpnU",
      "projectId": "TXusVfb2hY9oL24m"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-24T12:47:16.000Z",
  "versionId": "f637bf73-d08b-487d-890a-6e34916beca2"
}