workflows/2025/12/UQKemoSPcpUs70yX.json
{
  "active": false,
  "connections": {
    "Extract Data": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wuzzuf Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9AM Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bayt Scrapper",
            "type": "main",
            "index": 0
          },
          {
            "node": "Linkedin Scrapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wuzzuf Scraper": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bayt Scrapper": {
      "main": [
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Scrapper": {
      "main": [
        [
          {
            "node": "Extract Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Execute Custom Script",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Custom Script": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T21:59:26.600Z",
  "id": "UQKemoSPcpUs70yX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Job Hunting Dynamic Scrapper",
  "nodes": [
    {
      "parameters": {
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "h2.css-193uk2c > a",
              "returnArray": true
            },
            {
              "key": "Job card",
              "cssSelector": "div.css-pkv5jc",
              "returnArray": true
            },
            {
              "key": "Link",
              "cssSelector": "h2 a.css-o171kl",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        608,
        -16
      ],
      "id": "204e169a-11e6-4cbb-9460-4b721ec90d57"
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = \"https://wuzzuf.net/search/jobs/?a=hpb&filters%5Bcountry%5D%5B0%5D=Egypt&q=software%20engineer&a=hpb\";\nconst pagesToScrape = 3; // Change this number to scrape more pages\nconst tasks = [];\n\nfor (let i = 0; i < pagesToScrape; i++) {\n  tasks.push({\n    json: {\n      url: `${baseUrl}&start=${i}`\n    }\n  });\n}\n\nreturn tasks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -16
      ],
      "id": "a295111b-2509-458f-9b7c-0f9b7143e81c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "9AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -64,
        -16
      ],
      "id": "3b21dd0c-979f-45b1-8021-f9e36a390b9c"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\n// 1. Loop through the 3 Pages (Input Items)\nfor (const item of $input.all()) {\n  \n  // 2. Grab the arrays from this page\n  // Note: Ensure the incoming node actually outputs \"Job_card\" (case sensitive!)\n  const titles = item.json.Title || [];\n  const links = item.json.Link || [];\n  const details = item.json[\"Job card\"] || []; \n\n  // 3. \"Zip\" them together (Match Index 0 with Index 0, etc.)\n  for (let i = 0; i < titles.length; i++) {\n    newItems.push({\n      json: {\n        Title: titles[i],\n        // Fixed: The fallback \"\" is now properly attached\n        Details: details[i] || \"\", \n        // Fixed: The Link logic is clean and comma separated\n        Link: links[i] ? `https://wuzzuf.net${links[i]}` : \"No Link\"\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -16
      ],
      "id": "a1b80887-176d-4edc-baf6-6a817ec9db4b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I am a Junior to Mid-level Software Engineer looking for new opportunities.\nHere is the raw list of jobs scraped from Wuzzuf today:\n📅 *Date:* {{ $today.toFormat('dd-MM-yyyy') }}\n{{ $json.jobs_list.map(i => `\n---\nJOB CANDIDATE:\n- TITLE: ${i.Title}\n- DETAILS/SNIPPET: ${i[\"Job card\"] || \"No details provided\"}\n- LINK: ${i.Link}\n---\n`).join('\\n') }}\n\nPlease analyze these candidates, apply the filters defined in your System Instructions, and generate the final WhatsApp notification message.",
        "options": {
          "systemMessage": "ROLE:\nYou are an expert Technical Recruiter and Career Coach. Your client is a **Junior/Mid-Level Software Engineer** based in Egypt. Your goal is to filter a raw list of scraped jobs and create a highly readable \"Job Alert\" for WhatsApp.\n\nSTRICT FILTERING RULES:\n1. **Discard** any job where the Title or Details implies senior-level responsibility (e.g., \"Senior\", \"Sr.\", \"Lead\", \"Principal\", \"Manager\", \"Head of\", \"Architect\", \"Staff\", \"Director\").\n2. **Discard** non-technical roles (e.g., Sales, HR, Driver).\n3. **Keep** jobs labeled: \"Junior\", \"Entry Level\", \"Fresh Graduate\", \"Associate\", or generic titles like \"Software Engineer\", \"Software Testing Engineer\", \"Backend Developer\".\n4. **Date Check:** Only keep jobs posted within the last 7 days (check the \"Details\" snippet for strings like \"2 days ago\"). If it says \"1 month ago\", discard it.\n\nSCORING CRITERIA (1-10):\n- **10/10:** Explicitly says \"Junior\", \"Entry Level\", or \"0-2 Yrs\".\n- **8/10:** Generic title (e.g., \"Software Engineer\") with no years specified.\n- **5/10:** Good title but vague details or posted > 1 week ago.\n\nOUTPUT FORMAT (WhatsApp Markdown):\nDo not output JSON. Output a single formatted message block.\n\nStructure:\n💼 *JOB SCOUT REPORT* 💼\n📅 *Date:* {{ $today.toFormat('dd-MM-yyyy') }}\n\n[If no jobs pass filter, output: \"No matching junior roles found today.\"]\n\n[For each passed job:]\n🔹 *[Title]*\n🏢 *[Company]*\n⚡ Score: [Score]/10\n📝 *Why:* [1 sentence reason]\n🔗 [Link]\n--------------------------------\n\nFEW-SHOT EXAMPLES:\n\nInput:\n- TITLE: Senior Java Developer\n- DETAILS: 5+ years experience, team lead.\n- LINK: wuzzuf.net/job/1\n\n- TITLE: Software Testing Engineer\n- DETAILS: Software Testing Engineerrealme - Nasr City, Cairo, Egypt 8 days agoFull TimeOn-siteEntry Level · 0 - 2 Yrs of Exp · males_only\n- LINK: https://wuzzuf.net/jobs/p/1lmgynsvnon3\n\nOutput:\n💼 *JOB SCOUT REPORT* 💼\n📅 *Date:* 05-12-2025\n\n🔹 *Software Testing Engineer*\n🏢 *realme*\n⚡ Score: 10/10\n📝 *Why:* Explicitly lists \"Entry Level\" and \"0-2 Yrs of Exp\", perfect fit for a junior.\n🔗 https://wuzzuf.net/jobs/p/1lmgynsvnon3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1504,
        -16
      ],
      "id": "42081648-575b-4a8d-b0dc-ec3639087c9e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1568,
        208
      ],
      "id": "527d575b-f9e3-45d7-8abf-d8dbb3fbdb9e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "RHvwbyYLj6xD250i",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "912881698567455",
        "recipientPhoneNumber": "201008548242",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1872,
        -80
      ],
      "id": "be8fc3c6-8db5-484b-bbd3-2a1fe36ea90e",
      "name": "Send message",
      "webhookId": "2a725d34-702b-4054-84f8-bdbdafd4171e",
      "alwaysOutputData": false,
      "credentials": {
        "whatsAppApi": {
          "id": "xBhT2ho0PEfSajpf",
          "name": "WhatsApp account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "jobs_list",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1280,
        -16
      ],
      "id": "7fdd5107-ee1f-47f5-8c2b-234f02419668",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "browserWSEndpoint": "ws://browserless:3000?token=n8n_browser_secret_123",
          "waitUntil": "domcontentloaded"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        400,
        -16
      ],
      "id": "d00190ff-dd88-470b-a636-138424187eea",
      "name": "Wuzzuf Scraper"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "h2 a",
              "returnArray": true
            },
            {
              "key": "Job card",
              "cssSelector": "li.has-pointer-d",
              "returnArray": true
            },
            {
              "key": "Link",
              "cssSelector": "h2 a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data1",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        528,
        -224
      ],
      "id": "a5863fa5-4e57-41c5-a7ee-4ab5a702139e"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\n// 1. Loop through the 3 Pages (Input Items)\nfor (const item of $input.all()) {\n  \n  // 2. Grab the arrays from this page\n  // Note: Ensure the incoming node actually outputs \"Job_card\" (case sensitive!)\n  const titles = item.json.Title || [];\n  const links = item.json.Link || [];\n  const details = item.json[\"Job card\"] || []; \n\n  // 3. \"Zip\" them together (Match Index 0 with Index 0, etc.)\n  for (let i = 0; i < titles.length; i++) {\n    newItems.push({\n      json: {\n        Title: titles[i],\n        // Fixed: The fallback \"\" is now properly attached\n        Details: details[i] || \"\", \n        // Fixed: The Link logic is clean and comma separated\n        Link: links[i] ? `https://www.bayt.com${links[i]}` : \"No Link\"\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -224
      ],
      "id": "317c2554-1262-4156-aa5a-56afe9d41747",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        -32
      ],
      "id": "7c4686b5-8854-4f1f-a015-e92c949304e6",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://www.bayt.com/en/egypt/jobs/software-engineer-jobs/",
        "options": {
          "browserWSEndpoint": "ws://browserless:3000?token=n8n_browser_secret_123",
          "waitUntil": "domcontentloaded"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        304,
        -224
      ],
      "id": "1b64a049-b361-49fc-a7b1-18211440e0de",
      "name": "Bayt Scrapper"
    },
    {
      "parameters": {
        "dataPropertyName": "body",
        "extractionValues": {
          "values": [
            {
              "key": "Title",
              "cssSelector": "a.base-card__full-link span.sr-only",
              "returnArray": true
            },
            {
              "key": "Link",
              "cssSelector": "div a.base-card__full-link",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "name": "Extract Data2",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        304,
        160
      ],
      "id": "edac8c7b-e19c-4b0f-b317-5eb2f8663642"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\n// 1. Loop through the 3 Pages (Input Items)\nfor (const item of $input.all()) {\n  \n  // 2. Grab the arrays from this page\n  // Note: Ensure the incoming node actually outputs \"Job_card\" (case sensitive!)\n  const titles = item.json.Title || [];\n  const links = item.json.Link || []; \n\n  // 3. \"Zip\" them together (Match Index 0 with Index 0, etc.)\n  for (let i = 0; i < titles.length; i++) {\n    newItems.push({\n      json: {\n        Title: titles[i],\n        // Fixed: The Link logic is clean and comma separated\n        Link: links[i] ? `${links[i]}` : \"No Link\"\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        160
      ],
      "id": "2b6f759d-7877-44fd-8817-dc2622462974",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "url": "https://www.linkedin.com/jobs/search?keywords=Software%20Engineer&location=Egypt&currentJobId=4323344958&position=3&pageNum=0",
        "options": {
          "browserWSEndpoint": "ws://browserless:3000?token=n8n_browser_secret_123",
          "waitUntil": "domcontentloaded"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "461f46e8-e064-4802-8cde-d2557d70a9d2",
      "name": "Linkedin Scrapper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        912,
        160
      ],
      "id": "5a8982d3-6d75-4249-ae05-341510c5c9d2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "runCustomScript",
        "scriptCode": "// 1. Get the link from the current item\nconst jobLink = $input.item.json.Link;\n\nif (!jobLink || jobLink === \"No Link\") {\n  return [{ description: \"No link provided\" }];\n}\n\n// 2. Go to the page\n// Note the '$' before page\nawait $page.goto(jobLink, { waitUntil: 'domcontentloaded', timeout: 30000 });\n\n// 3. Try to click \"See more\" if it exists\ntry {\n  const seeMoreSelector = 'button.show-more-less-html__button';\n  // Wait up to 2 seconds for the button to appear\n  await $page.waitForSelector(seeMoreSelector, { timeout: 2000 });\n  await $page.click(seeMoreSelector);\n  \n  // Wait a tiny bit for the text to expand\n  await new Promise(r => setTimeout(r, 500));\n} catch (e) {\n  // If button isn't found, just ignore and continue\n}\n\n// 4. Scrape the content\nconst description = await $page.evaluate(() => {\n  // This selector targets the main description box on LinkedIn public pages\n  const el = document.querySelector('.show-more-less-html__markup');\n  return el ? el.innerText : \"Description not found\";\n});\n\n// 5. Return it as an ARRAY (Required by n8n)\nreturn [{\n  details: description\n}];",
        "options": {
          "browserWSEndpoint": "ws://browserless:3000?token=n8n_browser_secret_123",
          "waitUntil": "domcontentloaded"
        }
      },
      "type": "n8n-nodes-puppeteer.puppeteer",
      "typeVersion": 1,
      "position": [
        1024,
        352
      ],
      "id": "22394d19-e27d-4be4-a86d-398f53776887",
      "name": "Execute Custom Script"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        368
      ],
      "id": "82233322-e3f5-4eec-ba59-c08ef7eeecd6",
      "name": "Merge1"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        736,
        160
      ],
      "id": "0d4f24a6-f602-467e-af5f-1a9d48db0ce7",
      "name": "Limit"
    },
    {
      "parameters": {
        "sendTo": "moatazahmedsamir135@gmail.com",
        "subject": "Job Hunting",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        112
      ],
      "id": "40acf3b8-5ba5-4c56-8f66-5e13fe59e8d5",
      "name": "Send a message",
      "webhookId": "159ab3ee-61cf-44aa-aa12-1684812c3e45",
      "credentials": {
        "gmailOAuth2": {
          "id": "0naCbfmZQrJH2in7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-backups",
  "repo_owner": "Mezo-555",
  "repo_path": "workflows/",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-04T21:59:26.631Z",
      "createdAt": "2025-12-04T21:59:26.631Z",
      "role": "workflow:owner",
      "workflowId": "UQKemoSPcpUs70yX",
      "projectId": "TXusVfb2hY9oL24m"
    }
  ],
  "staticData": {
    "node:9AM Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-05T21:10:08.000Z",
  "versionId": "15f3c9d4-70dd-4c0f-8f88-74c3ae48427b"
}